
@font-face {
    font-family: mana;
    src: url('manaspc.ttf');
}

#amigo{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

#amigo:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#amigo:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#dialog-text {
    -fx-font: 16px mana;
    -fx-text-fill: white;
}

